<!DOCTYPE html>
<html>
<head>
    <title>Simple Flask app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body>

<h1>Explanation</h1>
<p>The goal of this app is to dynamically update a plot or model on the page, based on user inputs.</p>

<div>
    <button id="test-button" class="btn btn-primary">Test</button>
    <h2>{{  data  }}</h2>
    <div id="updater"></div>
</div>






<div id="plot">
<!-- Plotly plot goes here !-->
</div>


</body>
</html>
